<app-navbar></app-navbar>
<div class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-scroll-top--shown">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body ">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="row">
              <div class="col-md-9 col-xs-12 m-subheader m--padding-50 ">
                  <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                      <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-action">
                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                              {{articleData?.category}}
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="m-portlet__body">
                        <div class="m-widget19">    
                              <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 286px">
                                <img src="assets/{{articleData?.imgUrl}}" alt="">
                                <h3 class="m-widget19__title m--font-light">
                                  {{articleData?.title}}
                                </h3>
                                <div class="m-widget19__shadow"></div>
                              </div>
      
                              <div class="m-widget19__content">
                                <div class="m-widget19__header">
                                  <div class="m-widget19__user-img">
                                    <a [routerLink]="['/genjourist',articleData?.genjouristId]"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                  </div>
                                  <div class="m-widget19__info">
                                    <span class="m-widget19__username">
                                       <a [routerLink]="['/genjourist',articleData?.genjouristId]">{{articleData?.genjourist}}</a>
                                    </span>
                                    <br>
                                    <span class="m-badge m-badge--danger m-badge--wide">
                                        14-30
                                    </span>
                                  </div>

                                </div>
                                  <div class="row">
                                      <!-- <app-support-article [articleId]="articleData?.articleId" [userId]="articleData?.genjouristId" ></app-support-article>   -->
                                  </div>
                                <div class="">
                                  
                                      <div [innerHtml]="articleData.content"></div>
                                     <!-- {{articleData?.content}} -->
                                  
                                </div>
      
                              </div>
                        </div>
                      </div>
                    </div>           
              </div>
              <div class="col-md-3 m--padding-30">
                <app-sidenav></app-sidenav>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-subheader ">
              <div class="d-flex align-items-center">
                <div class="mr-auto">
                  <h3 class="m-subheader__title ">
                    Recommended
                  </h3>
                </div>
                <div>
                </div>
              </div>
    
                <!--Begin::Main Portlet-->
              <div class="m-content">
                <div class="row">
                  <div class="col-md-3">
                    <!--begin:: Widgets/Blog-->
                   
                        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                            <div class="m-portlet__head m-portlet__head--fit">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-action">
                                  <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                    Life
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="m-portlet__body">
                              <div class="m-widget19">
                                  <a href="post">
                                    <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                      <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                      <h3 class="m-widget19__title m--font-light">
                                        Introducing New Feature
                                      </h3>
                                      <div class="m-widget19__shadow"></div>
                                    </div>
                                  </a>
                                    <div class="m-widget19__content">
                                      <div class="m-widget19__header">
                                        <div class="m-widget19__user-img">
                                          <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                        </div>
                                        <div class="m-widget19__info">
                                          <span class="m-widget19__username">
                                             <a href="annakrox">Anna Krox</a>
                                          </span>
                                          <br>
                                          <span class="m-widget19__time">
                                            UX/UI Designer, Google
                                          </span>
                                        </div>
                                      </div>
                                    <a href="post">
                                      <div class="m-widget19__body m-nav__link-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                      </div>
                                    </a>
                                    </div>
                                    <div>
<!-- 
                                    <app-support-article [articleId]="articleData.articleId" [userId]="user?.genjouristId">
                              
                                      </app-support-article> -->
                                    </div> 
                              </div>
                            </div>
                        </div>
                
                    <!--end:: Widgets/Blog-->
                  </div>
                  <div class="col-md-3">
                          <!--begin:: Widgets/Blog-->
                          <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                              <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                  <div class="m-portlet__head-action">
                                    <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                      Life
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="m-portlet__body">
                                <div class="m-widget19">
                                    <a href="post">
                                      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                        <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                        <h3 class="m-widget19__title m--font-light">
                                          Introducing New Feature
                                        </h3>
                                        <div class="m-widget19__shadow"></div>
                                      </div>
                                    </a>
                                      <div class="m-widget19__content">
                                        <div class="m-widget19__header">
                                          <div class="m-widget19__user-img">
                                            <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                          </div>
                                          <div class="m-widget19__info">
                                            <span class="m-widget19__username">
                                               <a href="annakrox">Anna Krox</a>
                                            </span>
                                            <br>
                                            <span class="m-widget19__time">
                                              UX/UI Designer, Google
                                            </span>
                                          </div>
                                        </div>
                                      <a href="post">
                                        <div class="m-widget19__body m-nav__link-text">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                        </div>
                                      </a>
                                      </div>
                                    
                                  <div class="m-widget19__action">
                                      <div class="m--margin-top-5 m--margin-bottom-5 ">
                                          <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="m-btn btn btn-secondary">
                                              <i class="la la-file-text-o"></i> Support 
                                            </button>
                                            <div class="m-btn-group btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="flaticon-network"></i> Replicate
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--end:: Widgets/Blog-->
                  </div>
                  <div class="col-md-3">
                      <!--begin:: Widgets/Blog-->
                
                          <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                              <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                  <div class="m-portlet__head-action">
                                    <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                      Life
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="m-portlet__body">
                                <div class="m-widget19">
                                    <a href="post">
                                      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                        <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                        <h3 class="m-widget19__title m--font-light">
                                          Introducing New Feature
                                        </h3>
                                        <div class="m-widget19__shadow"></div>
                                      </div>
                                    </a>
                                      <div class="m-widget19__content">
                                        <div class="m-widget19__header">
                                          <div class="m-widget19__user-img">
                                            <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                          </div>
                                          <div class="m-widget19__info">
                                            <span class="m-widget19__username">
                                                <a href="annakrox">Anna Krox</a>
                                            </span>
                                            <br>
                                            <span class="m-widget19__time">
                                              UX/UI Designer, Google
                                            </span>
                                          </div>
                                        </div>
                                      <a href="post">
                                        <div class="m-widget19__body m-nav__link-text">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                        </div>
                                      </a>
                                      </div>
                                    
                                  <div class="m-widget19__action">
                                      <div class="m--margin-top-5 m--margin-bottom-5 ">
                                          <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="m-btn btn btn-secondary">
                                              <i class="la la-file-text-o"></i> Support 
                                            </button>
                                            <div class="m-btn-group btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="flaticon-network"></i> Replicate
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                  
                      <!--end:: Widgets/Blog-->
                  </div>     
                  <div class="col-md-3">
                      <!--begin:: Widgets/Blog-->
                
                          <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                              <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                  <div class="m-portlet__head-action">
                                    <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                      Life
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <div class="m-portlet__body">
                                <div class="m-widget19">
                                    <a href="post">
                                      <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                        <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                        <h3 class="m-widget19__title m--font-light">
                                          Introducing New Feature
                                        </h3>
                                        <div class="m-widget19__shadow"></div>
                                      </div>
                                    </a>
                                      <div class="m-widget19__content">
                                        <div class="m-widget19__header">
                                          <div class="m-widget19__user-img">
                                            <a href="annakrox"><img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg" alt=""></a>
                                          </div>
                                          <div class="m-widget19__info">
                                            <span class="m-widget19__username">
                                                <a href="annakrox">Anna Krox</a>
                                            </span>
                                            <br>
                                            <span class="m-widget19__time">
                                              UX/UI Designer, Google
                                            </span>
                                          </div>
                                        </div>
                                      <a href="post">
                                        <div class="m-widget19__body m-nav__link-text">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text 
                                        </div>
                                      </a>
                                      </div>
                                    
                                  <div class="m-widget19__action">
                                      <div class="m--margin-top-5 m--margin-bottom-5 ">
                                          <div class="m-btn-group m-btn-group--pill btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="m-btn btn btn-secondary">
                                              <i class="la la-file-text-o"></i> Support 
                                            </button>
                                            <div class="m-btn-group btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-secondary m-btn m-btn--pill-last dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="flaticon-network"></i> Replicate
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -176px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                  Dropdown link
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                  
                      <!--end:: Widgets/Blog-->
                  </div>           
                </div>
              </div>
                <!--End::Main Portlet-->
          
                <!--End::Main Portlet-->
            </div>
        </div>
        <!-- END: Subheader -->
  
      </div>
    </div>
</div>