<app-navbar></app-navbar>
<div class="m-stack m-stack--ver m-stack--general m-stack--inline m--align-center" style="margin:85px 0px 0px 85px;">
   <div class="m-stack__item m-stack__item--center m-stack__item--middle"> Gobal </div>     
    <span class="m-switch m-switch--brand m-stack__item m-stack__item--center m-stack__item--middle">
        <label>
            <input type="checkbox" checked="checked" name="">
            <span></span>
        </label>
    </span>
    <div class="m-stack__item m-stack__item--center m-stack__item--middle"> Circle </div> 
</div>
<app-articles></app-articles>
