
<div class="m-portlet m-portlet m--margin-top-20">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Quotes
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-widget3">
            <div class="m-widget3__item">
              <div class="m-widget3__header">
                <div class="m-widget3__user-img">
                  <img class="m-widget3__img" src="assets/app/media/img/users/user1.jpg" alt="">
                </div>
                <div class="m-widget3__info">
                  <span class="m-widget3__username m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                    Melania Trump
                  </span>
                  <br>
                  <span class="m-widget3__time">
                    2 day ago
                  </span>
                </div>
                <span class="m-widget3__status m--font-brand">
                    Life
                </span>
              </div>
              <div class="m-widget3__body">
                <p class="m-widget3__text">
                  Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
                </p>
              </div>
              <div class="row m--block-center">
                  <div class="m--margin-top-5 m--margin-bottom-5 ">
                    <!-- <app-support-article [articleId]="articleData?.articleId" [userId]="articleData?.genjouristId" ></app-support-article>   -->
                  </div>
              </div>
            </div>
          </div>
        </div>
</div>