<app-navbar></app-navbar>

  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<div class="m-content">
						<div class="row">
							<div class="col-lg-12">
								<div class="m-portlet">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="m-portlet__head-text">
												  Edit an article
												</h3>
											</div>
										</div>
									</div>
									<!--begin::Form-->
									<form enctype="multipart/form-data" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator" method="POST">
										<div class="m-portlet__body">
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Article Title:
												</label>
												<div class="col-lg-6">
													  <input class="form-control m-input" type="text" [(ngModel)]="draftData.title" name="title">
													<span class="m-form__help">
														Please enter article title
													</span>
												</div>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Tags:
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control m-input" [(ngModel)]="draftData.tags" name="tags">
													<span class="m-form__help">
														Ex. - life,genjour
													</span>
												</div>
											</div>
											<div class="form-group m-form__group row">
												<label class="col-lg-2 col-form-label">
													Featured Image:
												</label>
												<div class="col-lg-6">
													<label for="exampleInputEmail1">
														File Browser
													</label>
													<div></div>
													<label class="custom-file">
														<!-- <input [(ngModel)]="image" type="file" name="image" >		-->											
													</label>
													<input  id="photo" type="file" />
													<button type="button" class="btn btn-success btn-s"  (click)="upload()">
														Upload
													</button> <br>
													<div *ngIf = "imgUrl">
														<input hidden [disabled]="!xyz" [(ngModel)]="imgUrl" name="imgUrl"/> 
													</div>
												</div>
											</div>
                      <div class="form-group1 m-form__group row">
                        <label class="col-lg-2 col-form-label" for="caterogySelection">
                          Category
                        </label>
                        <select [(ngModel)]="draftData.category" name="category" class="custom-select">
                          <option selected="">
                            Choose category
                          </option>
                          <option value="Life">
                            Life
                          </option>
                          <option value="Economics">
                            Economics
                          </option>
                          <option value="Society">
                            Society
                          </option>
                          <option value="Controversy">
                            Controversy
                          </option>
                          <option value="Politics">
                            Politics
                          </option>
                          <option value="Self-Help">
                            Self-Help
                          </option>
                          <option value="Philosophy">
                            Philosophy
                          </option>
                        </select>
                      </div>
											<div class="m-form__group m-form__group--last form-group row">
												<label class="col-lg-2 col-form-label">
													Article Content
												</label>
												<div class="col-lg-8">
													<!-- <div class="summernote"></div> -->
													<textarea class="form-control m-input"  rows="8" [(ngModel)]="draftData.content" name="content"></textarea>
												</div>
											</div>
										</div>

										<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
											<div class="m-form__actions m-form__actions--solid">
												<div class="row">
													<div class="col-lg-2"></div>
													<div class="col-lg-6">
														<h4 style="color:red">{{throwStatus}}</h4>
														<button (click)= "draft(draftData.articleId)" type="reset" class="btn btn-info">
															Draft
														</button>
														<button (click)= "articleSubmit(draftData.articleId)" type="submit" class="btn btn-primary"  >
															Publish
														</button>
														<a [routerLink]="['/']" class="btn btn-danger"  >
															Cancel
														</a>
													</div>
												</div>
											</div>
										</div>
									</form>
									<!--end::Form-->
								</div>
							</div>
						</div>
					</div>
				</div>
  </div>
