<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
			<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
				<div class="m-stack m-stack--hor m-stack--desktop">
					<div class="m-stack__item m-stack__item--fluid">
						<div class="m-login__wrapper">
							<div class="m-login__logo">
								<a [routerLink]="['/']">
									<img src="assets/img/genjour.png" height="110">
								</a>
							</div>
							<div class="m-login__signin">
								<div class="m-login__head">
									<h3 class="m-login__title">
										Sign In To Genjour
									</h3>
								</div>
								<form class="m-login__form m-form" (submit)="Login()"> 
									<div class="form-group m-form__group">
										<input class="form-control m-input" type="text" [(ngModel)]="username" placeholder="Username" name="username" autocomplete="off">
									</div>
									<div class="form-group m-form__group">
										<input class="form-control m-input m-login__form-input--last" [(ngModel)]="password" type="password" placeholder="Password" name="password">
									</div>
									<div style="color:red;">{{checkStatus}}</div>
									<div class="row m-login__form-sub">
										<div class="col m--align-left">
											<label class="m-checkbox m-checkbox--focus">
												<input type="checkbox" name="remember">
												Remember me
												<span></span>
											</label>
										</div>
										<div class="col m--align-right">
											<a class="m-link">
												Forget Password ?
											</a>
										</div>
									</div>
									<div class="m-login__form-action">
										<button  type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
											Sign In
										</button>
									</div>
									
								</form>
								<div class="m-stack__item m-stack__item--center">
									<div class="m-login__account">
										<span class="m-login__account-msg">
											Don't have an account yet ?
										</span>
										<a [routerLink]="['/register']" id="m_login_signup" class="m-link m-link--focus m-login__account-link">
											Sign Up
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(../../../assets/app/media/img//bg/bg-4.jpg)">
				<div class="m-grid__item m-grid__item--middle">
					<h3 class="m-login__welcome">
						Genjour <br> <del>Social</del> Societal Network 
					</h3>
					<p class="m-login__msg">
						Meet people with similar ideologies and beliefs. <br>
            			Let's make a better society to live in.Lets talk out our true emotions. <br>
            			Connect better and let's bridge the gap between the opinions by writing in the Generations' Journal.
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="../../../assets/snippets/pages/user/login.js" type="text/javascript"></script>
</body>