<body>
  <div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper">
            <div class="m-login__logo">
              <a  [routerLink]="['/']">
                <img src="assets/img/genjour.png" height="110">
              </a>
            </div>
            <div class="m-signup">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Sign Up
                </h3>
                <div class="m-login__desc">
                  Enter your details to create your account:
                </div>
              </div>
              <form class="m-login__form m-form" (submit) = "register()">
                <div class="form-group m-form__group">
                  <input class="form-control m-input" [(ngModel)]="fullname" type="text" placeholder="Full Name" name="fullname">
                </div>
                <div class="form-group m-form__group">
                  <input class="form-control m-input" [(ngModel)]="email" type="text" placeholder="Email" name="email" autocomplete="off">
                </div>
                <div class="form-group m-form__group">
                  <input class="form-control m-input" [(ngModel)]="username" type="text" placeholder="Username" name="username">
                </div>
                <div class="form-group m-form__group">
                  <input class="form-control m-input m-login__form-input--last" [(ngModel)]="password" type="password" placeholder="Password" name="password">
                </div>
                <div class="form-group m-form__group">
                  <div class="m-radio-inline">
                      <label class="m-radio m-radio--solid">
                        <input type="radio" name="gender" [(ngModel)]="gender" checked value="Male">
                        Male
                        <span></span>
                      </label>
                      <label class="m-radio m-radio--solid">
                        <input type="radio" name="gender" [(ngModel)]="gender" value="Female">
                        Female
                        <span></span>
                      </label>
                      <label class="m-radio m-radio--solid">
                          <input type="radio" name="gender" [(ngModel)]="gender" value="Other">
                          Other
                          <span></span>
                      </label>
                  </div>
                </div>
                <div class="m-login__head" style="text-align:center;">
                  <div class="m-login__desc">Birth Date</div>
                  <input class="form-control m-input" type="date" name="dob" [(ngModel)]="dob" [value]="2011-08-19" id="example-date-input">
                </div>
                <div style="color:red">
                  {{checkStatus}}
                </div>
                <div class="row form-group m-form__group m-login__form-sub">
                  <div class="col m--align-left">
                    <label class="m-checkbox m-checkbox--focus">
                      <input type="checkbox" name="agree">
                      I Agree the
                      <a href="#" class="m-link m-link--focus">
                        terms and conditions
                      </a>
                      .
                      <span></span>
                    </label>
                    <span class="m-form__help"></span>
                  </div>
                </div>
                <div class="m-login__form-action">
                  <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="m-stack__item m-stack__item--center">
          <div class="m-login__account">
            <span class="m-login__account-msg">
              Already have account
            </span>
            &nbsp;&nbsp;
            <a [routerLink]="['/login']" id="m_login_signup" class="m-link m-link--focus m-login__account-link">
              Sign In
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(../../../assets/app/media/img//bg/bg-4.jpg)">
      <div class="m-grid__item m-grid__item--middle">
        <h3 class="m-login__welcome">
            Genjour <br> <del>Social</del> Societal Network
        </h3>
        <p class="m-login__msg">
            Meet people with similar ideologies and beliefs. <br>
            Let's make a better society to live in.Lets talk out our true emotions. <br>
            Connect better and let's bridge the gap between the opinions by writing in the Generations' Journal.
        </p>
      </div>
    </div>
  </div>
</div>
</body>

